{% extends 'base.html' %} {% block content %}
<style>
  .lb,
  .play {
    color: #999;
  }
</style>
<div class="center text-center mt-5">
  <p>
    This was made by <a href="https://michaelbeer.me/">Michael</a> and
    <a href="https://judemolloy.com/">Jude</a>. Nice.
  </p>
  <h4 class="py-3"><u>Reviews</u></h4>
  <p><i>"A great way to learn techincal analysis"</i> - Warren Buffet</p>
  <p>
    <i>"Few startups have founders as skilled as GTS's"</i> - Marc Andreessen
  </p>
  <p><i>"I am intrigued by their data practices"</i> - Mark Zuckerberg</p>
  <p><i>"Here in my garage"</i> - Tai Lopez</p>
</div>

{% endblock %}
