<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess the Stock!</title>
    <meta name="description" content="Guess the popular Wall Street Bets stock from the chart.">
    <meta name="keywords" content="guess the stock, wall street bets, guess, stock, stocks, crypto, robinhood, trading212, r/wallstreetbets, jude molloy, michael beer, molloy, beer, warren buffet, leverage, elon musk, reddit, game, chart">
    <meta name="author" content="Jude Molloy, Michael Beer">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-15YP1V1DPX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-15YP1V1DPX');
    </script>

    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon//favicon-16x16.png">
    <link rel="manifest" href="/static/favicon//site.webmanifest">
    <link rel="mask-icon" href="/static/favicon//safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Guess The Stock!">
    <meta name="application-name" content="Guess The Stock!">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <section id="bg">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <a href="{{ url_for('index') }}"
              ><img
                id="logo"
                src="{{ url_for('static', filename='img/rocket.png') }}"
              />
              <h2 id="title">GUESS THE STOCK!</h2></a
            >
          </div>
          <div class="col-12 col-md-6 text-right ml-auto">
            <ul class="nav">
              <li class="nav-item">
                <a class="underline play" href="{{ url_for('index') }}">Play</a>
              </li>
              <li class="nav-item">
                <a class="underline about" href="{{ url_for('about') }}"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a class="underline lb" href="{{ url_for('leaderboard') }}"
                  >Leaderboard</a
                >
              </li>
            </ul>
          </div>
        </div>

        {% block content %} {% endblock %}
      </div>
    </section>
  </body>
</html>
