{% extends 'base.html' %} {% block content %}
<script>
  function redirect() {
  document.location.href = '{{ url_for('play') }}'; }
  function tohome() {
  document.location.href = '{{ url_for('index') }}'; }
</script>

<div class="text-center center">
  <h1 style="font-size: 4rem; margin: 1rem 0 0 0;">GAME OVER!</h1>
  <br />
  <h1>{{ message }}</h1>
  <br />
  <img id="result-img" src="{{ url_for('static', filename='img/') }}{{ img }}" />
  <br />
  <br />
  <h1>YOU SCORED {{ score }} POINT{{ score|pluralize|upper }}.</h1>
  <a href="{{ url_for('play') }}">
    <button class="button center-block mt-4 cta">
      PLAY AGAIN
    </button>
  </a>
  <a href="{{ url_for('leaderboard') }}">
    <button class="button center-block mt-4 cta">
      LEADERBOARD
    </button>
  </a>
</div>

{% endblock %}
