{% extends 'base.html' %} {% block content %}
<script>
  function redirect() {
  document.location.href = '{{ url_for('play') }}'; }
  function tohome() {
  document.location.href = '{{ url_for('index') }}'; }
</script>

<div class="text-center mt-4">
  <h1>Game Over!</h1>
  <br />
  <h1>{{ message }}</h1>
  <br />
  <img src="{{ url_for('static', filename='img/') }}{{ img }}" />
  <br />
  <br />
  <h1>You scored {{ score }} point{{ score|pluralize }}.</h1>
  <button
    type="submit"
    onClick="redirect()"
    class="button center-block mt-4 cta"
  >
    Play again
  </button>
  <button type="submit" onClick="tohome()" class="button center-block mt-4 cta">
    Home
  </button>
</div>

{% endblock %}
