{% extends 'base.html' %} {% block content %}
<style>
  .play,
  .about {
    color: #999;
  }
</style>
<h1 id="leaderboard-title">&#127942; LEADERBOARD &#127942;</h1>
<table>
  <tr>
    <th class="lb-head" style="text-decoration: underline">NAME</th>
    <th class="lb-head" style="color: #13c16d; text-decoration: underline">
      SCORE
    </th>
  </tr>
  {% for entry in leaderboard %}
  <tr>
    <td>{{ entry.name }}</td>
    <td style="color: #13c16d; text-align: center">{{ entry.score }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
