{% extends "base.html" %} {% block content %}

<div style="width: 80%; height: 20%; margin: auto">
  <h1 class="left">Timer: <span id="timer">10</span></h1>
  <h1 class="right" text-end>Score: {{ score }}</h1>
  <canvas id="myChart"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <form method="post">
    <div class="grid-container">
      <button
        name="selected_answer"
        value="{{ a }}"
        type="submit"
        class="grid-item button stock center-block mt-4 cta"
      >
        {{ a }}
      </button>
      <button
        name="selected_answer"
        value="{{ b }}"
        type="submit"
        class="grid-item button stock center-block mt-4 cta"
      >
        {{ b }}
      </button>
      <button
        name="selected_answer"
        value="{{ c }}"
        type="submit"
        class="grid-item button stock center-block mt-4 cta"
      >
        {{ c }}
      </button>
      <button
        name="selected_answer"
        value="{{ d }}"
        type="submit"
        class="grid-item button stock center-block mt-4 cta"
      >
        {{ d }}
      </button>
    </div>
  </form>
</div>
<script>
  var timer = 10; // x second timer.
  var foo; // variable for clearInterval() function

  function redirect() {
      document.location.href = '{{ url_for('game_over') }}';
  }

  function updateSecs() {
      document.getElementById("timer").innerHTML = timer;
      timer--;
      if (timer == -1) {
          clearInterval(foo);
          redirect();
      }
  }

  function countdownTimer() {
      foo = setInterval(function () {
          updateSecs()
      }, 1000);
  }

  countdownTimer();

  var str = '{{ stock_json_string }}'

  var price_dict = JSON.parse(str.replace(/&#34;/g,'"'));


  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
      type: 'line',
      responsive: true,
      data: {
        labels: price_dict["dates"],
        datasets: [{
            lineTension: 0,
            pointBorderRadius: 0,
            borderColor: 'rgb(255, 99, 132)',
            data: price_dict["data"]
        }]},
      options: {
          legend: {
              display: false
          }
      }

  })
</script>
{% endblock %}
